@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MaisonNeue";
    src: url("../public/fonts/MaisonNeueExtended/MaisonNeueExtended-Black.otf");
  }
  @font-face {
    font-family: "TTCommons";
    src: url("../public/fonts/TTCommons/TTCommonsBlack.otf");
  }