consumes:
- application/json
info:
  description: Thick client HTTP server API.
  title: thick-client
  version: 0.0.0
produces:
- application/json
schemes:
- http
swagger: "2.0"
paths:
  /cmd/callSmartContract:
    post:
      operationId: cmdCallSC
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              operation_context:
                description: Context attributes of the operation to send to a node.
                type: object
                properties:
                  expiry:
                    type: integer
                    description: Set the expiry duration (in ?) of the transaction.
                  fee:
                    type: number
                    description: Set the fee amount (in massa) that will be given to the block creator.
                  gaz:
                    type: object
                    description: Gaz attibutes. Gaz is a virtual resource consumed by node while running smart contract.
                    properties:
                      price:
                        type: number
                        description: Price of a gaz unit.
                      limit:
                        type: integer
                        description: Maximum number of gaz unit that a node will be able consume.
                  originator:
                    type: string
                    description: Identifier of the originator of the transaction. This identifier must be knowned by the thick client.
              smart_contract_context:
                description: Smart contract attributes of the operation to send to a node.
                type: object
                properties:
                  function:
                    description: Function attibutes to call
                    type: object
                    properties:
                      name:
                        description: Name of the function to call
                        type: string
                      at:
                        description: Address of the smart contract exposing the function
                        type: string
                      params:
                        description: Parameters to pass to the function
                        type: string
      produces:
      - application/json
      responses:
        '200':
          description: operation id.
          schema:
            type: string
  /kpi:
    get:
      operationId: kpi
      parameters:
        - name: scope
          in: query
          type: string
          type: array
          minItems: 0
          uniqueItems: true
          collectionFormat: csv
          items:
            type: string
            enum: [wallet, node, stacking, blockchain]
      produces:
      - application/json
      responses:
        '200':
          description: kpi message.
          schema:
            type: object
            properties:
              wallet:
                type: array
                items:
                  type: object
                  properties:
                    coin:
                      type: string
                    balance:
                      type: number
              node:
                type: array
                items:
                  type: object
                  properties:
                    memory:
                      type: array
                      items:
                        type: number
                    cpu:
                      type: array
                      items:
                        type: number
                    storage:
                      type: array
                      items:
                        type: number
                    network:
                      type: array
                      items:
                        type: number
              stacking:
                type: array
                items:
                  type: object
                  properties:
                    address:
                      type: string
                    rolls:
                      type: integer
                    slashing:
                      type: integer
                    gains:
                      type: number
