@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add Fonts */
@font-face {
    font-family: "Maison Neue";
    src: url("./assets/fonts/MaisonNeueExtended/MaisonNeueExtended-Medium.otf");
  }
  @font-face {
    font-family: "TT Commons";
    src: url("./assets/fonts/TTCommons/TTCommonsMedium.otf");
  }

  /* Toggle Theme */
.custom-classname.react-toggle--checked .react-toggle-track {
    background-color: #000000;
  }
.custom-classname.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #D2D2D2;
}
.custom-classname.react-toggle--checked .react-toggle-thumb{
  background-color: #FFFFFF;
    border-color: #000000;
}
.custom-classname .react-toggle-track-check{
  width: 14px;
  height: 14px;
}

/* Theme Toggle with icons */
.react-toggle-track-check
{
  width: 14px;
  height: 14px !important;
}

/* Toggle Plugin*/

/* Dark Mode */

/* Dark Mode */
.custom-TogglePlugin-dark.react-toggle--checked .react-toggle-thumb {
  background-color: #000 !important;
  border-color: #000 !important;
}

.custom-TogglePlugin-dark.react-toggle--checked .react-toggle-track{
  background-color: #fff !important;
  /* Nice to implement */
  /* background-color: hsl(var(--twc-bgCard)); */
  
}

.custom-TogglePlugin-dark .react-toggle-thumb {
  background-color: #fff;
}

.custom-TogglePlugin-dark .react-toggle-track {
  background-color: transparent;
  border-color: #ffffff;
  border-width: 1px;
}

.custom-TogglePlugin-dark .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #d2d2d2;
}


/* Light Mode */

.custom-TogglePlugin-light.react-toggle--checked .react-toggle-thumb {
  background-color: #fff;
  border-color: #fff !important;
}

.custom-TogglePlugin-light .react-toggle-track {
  background-color: transparent;
  border-color: #000;
  border-width: 1px;
}

.custom-TogglePlugin-light.react-toggle--checked .react-toggle-track{
  background-color: #000 !important;
}

.custom-TogglePlugin-light .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #d2d2d2;
}

.custom-TogglePlugin-light .react-toggle-thumb {
  background-color: #000;
}

/* Custom CSS */


/* Background SVG for HomePage */
.bg-img {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
}

.divider {
  @apply my-4 h-4 whitespace-nowrap;
  &:before {
    @apply bg-font bg-opacity-10;
  }
  &:after {
    @apply bg-font bg-opacity-10;
  }
  &:not(:empty) {
    @apply gap-4;
  }
}