name: build and upload artifacts
on:
  push:
    tags:
      - v[0-9]+.*
  pull_request:
  workflow_call:
    inputs:
      tag_name:
        type: string
      draft:
        type: string
      prerelease:
        type: string
      generate_release_notes:
        type: string

permissions:
  contents: write

jobs:

  lint:
    uses: ./.github/workflows/lint.yml

  tests:
    uses: ./.github/workflows/tests.yml

  build:
    # needs: [lint, tests]
    name: build and upload artifacts
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
            target: windows
            cc: x86_64-w64-mingw32-gcc
            cxx: CXX=x86_64-w64-mingw32-g++
          - os: ubuntu-20.04
            arch: amd64
            target: linux
            cc: gcc
            cxx: g++
          # - os: macos-latest
          #   arch: amd64
          #   target: darwin
          #   cc: ""
          #   cxx: ""
          # - os: macos-latest
          #   arch: arm64
          #   target: darwin
          #   cc: ""
          #   cxx: ""
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: installing dependencies
        uses: ./.github/actions/install
        with:
          os: ${{ matrix.os }}
      - name: Update version
        run: echo -e "${GITHUB_REF_NAME}" > cmd/thyra-server/version.txt
      # - name: Build binary for ${{ matrix.target }} on ${{ matrix.arch}}
      #   run: GOOS=${{ matrix.target }} GOARCH=${{ matrix.arch }} CGO_ENABLED=1 CC=${{ matrix.cc }} CXX=${{ matrix.cxx }} go build -o thyra-server_${{ matrix.target }}_${{ matrix.arch }} ./cmd/thyra-server/
      - name: Build installer binary
        if: ${{ matrix.target == 'windows' }}
        uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: scripts
      - run: curl -L https://www.7-zip.org/a/lzma2201.7z --output lzma2201.7z
      - run: ls
      - run: sudo apt-get install p7zip
      - run: 7z e lzma2201.7z
      - run: ls -R
      - run: echo -e ';!@Install@!UTF-8!\n
                      Title="Thyra Installer"\n
                      BeginPrompt="Do you want to install Thyra?"\n
                      RunProgram="thyra-installer.exe"\n
                      Directory=".\\thyra-installer\\"\n
                      ;!@InstallEnd@!' > config.txt
      - run: cat config.txt
      - run: 7z a -t7z thyra-installer.7z bin/7zSD.sfx config.txt scripts/dist/windows/thyra-installer
      - run: ls
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: ${{ matrix.target }}-${{ matrix.arch }}-binary
      #     path: thyra-server_${{ matrix.target }}_${{ matrix.arch }}
      - name: Upload installer artifacts
        if: ${{ matrix.target == 'windows' }}
        uses: actions/upload-artifact@v3
        with:
          name: thyra-installer
          path: scripts/dist/windows/thyra-installer/
      - name: Create release and upload binaries
        if: ${{ inputs.tag_name != '' }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.tag_name }}
          draft: ${{ inputs.draft }}
          prerelease: ${{ inputs.prerelease }}
          generate_release_notes: ${{ inputs.generate_release_notes }}
          files: thyra-server_${{ matrix.target }}_${{ matrix.arch }}
