name: build and upload artifacts

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      tag_name:
        type: string
        description: "The tag name of the release without v prefix"

env:
  VERSION: ${{ inputs.tag_name }}

jobs:
  build:
    name: build and upload artifacts
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
            target: windows
            cc: x86_64-w64-mingw32-gcc
            ext: .exe
          - os: ubuntu-24.04
            arch: amd64
            target: linux
          - os: macos-15
            arch: amd64
            target: darwin
          - os: macos-15
            arch: arm64
            target: darwin

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all git tags
        run: git fetch --prune --unshallow --tags
      - name: Set Version
        if: ${{ env.VERSION == '' }}
        run: |
          export VERSION=$(git describe --tags --abbrev=0 --match 'v[0-9]*' | sed 's/^v//')-dev
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: installing dependencies
        uses: ./.github/actions/install
        with:
          os: ${{ matrix.os }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set environment variables
        run: |
          echo "CGO_ENABLED=1" >> $GITHUB_ENV
          echo "CC=${{ matrix.cc }}" >> $GITHUB_ENV
      - name: Build binary for ${{ matrix.target }} on ${{ matrix.arch }}
        shell: bash
        run: |
          task ${{ matrix.target }}:build VERSION=${{ env.VERSION }} ARCH=${{ matrix.arch }} PRODUCTION=${{ inputs.tag_name != '' }} BIN_DIR="."
      - name: Package binary for ${{ matrix.target }} on ${{ matrix.arch}}
        # We don't need to package for windows since Fyne package generates a similar .exe as go build.
        if: matrix.target != 'windows'
        shell: bash
        run: |
          task package
      - name: Rename binary for ${{ matrix.target }} on ${{ matrix.arch }}
        shell: bash
        run: |
          mv ./massastation${{ matrix.ext }} massastation_${{ matrix.target }}_${{ matrix.arch }}${{ matrix.ext }}
      - name: Upload MassaStation Binary
        uses: actions/upload-artifact@v4
        with:
          name: massastation_${{ matrix.target }}_${{ matrix.arch }}_bin
          path: |
            massastation_${{ matrix.target }}_${{ matrix.arch }}
            massastation_${{ matrix.target }}_${{ matrix.arch }}.exe
          if-no-files-found: error
          retention-days: 7
      - name: Upload Package
        # We don't need to upload package for windows since we do not package for windows.
        if: matrix.target != 'windows'
        uses: actions/upload-artifact@v4
        with:
          name: massastation_${{ matrix.target }}_${{ matrix.arch }}_package
          path: |
            MassaStation.app
            MassaStation.tar.xz
          if-no-files-found: error
          retention-days: 1

  build-macos-installer:
    name: Build .pkg installer for MacOS ${{ matrix.arch }}
    needs: build
    defaults:
      run:
        working-directory: installer
    strategy:
      matrix:
        arch: [amd64, arm64]

    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all git tags
        run: git fetch --prune --unshallow --tags
      - name: Set Version
        if: ${{ env.VERSION == '' }}
        run: |
          export VERSION=$(git describe --tags --abbrev=0 --match 'v[0-9]*' | sed 's/^v//')-dev
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Sync clock
        run: sudo sntp -sS time.windows.com # https://github.com/actions/runner/issues/2996#issuecomment-1833103110
      - name: Download MassaStation Package
        uses: actions/download-artifact@v4
        with:
          name: massastation_darwin_${{ matrix.arch }}_package
          path: installer
      - name: Import Code Signing Certificates
        uses: apple-actions/import-codesign-certs@v2
        with:
          p12-file-base64: ${{ secrets.APPLE_CERTIFICATE_P12_BASE64 }}
          p12-password: ${{ secrets.APPLE_CERTIFICATE_P12_PASSWORD }}
      - name: Build and sign Package
        run: sh macos/create_pkg.sh ${{ matrix.arch }} "${{ vars.APPLE_DEVELOPER_ID_APPLICATION }}" "${{ vars.APPLE_DEVELOPER_ID_INSTALLER }}"
        env:
          VERSION: ${{ env.VERSION }}
      - name: Notarise installer
        continue-on-error: true
        run: |
          xcrun notarytool submit massastation_${{ env.VERSION }}_${{ matrix.arch }}.pkg --wait --apple-id ${{ secrets.APPLE_ID }} --password ${{ secrets.APPLE_APP_PASSWORD }} --team-id ${{ secrets.APPLE_TEAM_ID }}
          xcrun stapler staple massastation_${{ env.VERSION }}_${{ matrix.arch }}.pkg
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: massastation_installer_darwin_${{ matrix.arch }}
          path: "installer/massastation_*.pkg"
          if-no-files-found: error
          retention-days: 7

  build-packages-windows:
    name: Build .msi installer for amd64
    needs: build
    defaults:
      run:
        working-directory: ./installer
    runs-on: windows-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all git tags
        run: git fetch --prune --unshallow --tags
      - name: Set Version
        if: ${{ env.VERSION == '' }}
        shell: bash
        run: |
          export VERSION=$(git describe --tags --abbrev=0 --match 'v[0-9]*' | sed 's/^v//')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Download MassaStation
        uses: actions/download-artifact@v4
        with:
          name: massastation_windows_amd64_bin
      - name: Rename MassaStation binary
        run: mv ../massastation_windows_amd64.exe massastation.exe
      - name: Build Installer
        run: python windows/build_installer.py
        env:
          VERSION: ${{ env.VERSION }}
      - name: Sign Windows binary
        uses: ./.github/actions/sign-file-digicert
        with:
          files: installer/massastation_${{ env.VERSION }}_amd64.msi
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE_B64: ${{ secrets.SM_CLIENT_CERT_FILE_B64 }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_CERT_FINGERPRINT: ${{ secrets.SM_CERT_FINGERPRINT }}
          SM_HOST: ${{ secrets.SM_HOST }}
      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
          name: massastation_installer_windows_amd64
          path: "installer/*.msi"
          if-no-files-found: error
          retention-days: 7

  build-deb-installer:
    name: Build .deb installer for Linux amd64
    needs: build
    defaults:
      run:
        working-directory: installer

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all git tags
        run: git fetch --prune --unshallow --tags
      - name: Download MassaStation Package
        uses: actions/download-artifact@v4
        with:
          name: massastation_linux_amd64_package
          path: installer
      - name: Build Package
        run: sh deb/create_deb.sh
        env:
          VERSION: ${{ env.VERSION }}
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: massastation_installer_deb_amd64
          path: "installer/*.deb"
          if-no-files-found: error
          retention-days: 7
