on:
  push:
  workflow_call:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: ubuntu-latest
          - os: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: installing dependencies
        uses: ./.github/actions/install
        with:
          os: ${{ matrix.os }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task test-coverage
      - uses: codecov/codecov-action@v3
        with:
          files: coverage.coverprofile
