# Temporary directories
buildmsi/
wixtoolset/
buildpkg/
builddeb/
tmpdeb/

# Temporary files
*.zip
*.tar.xz
*.log
*.wixpdb
massastation-app
massastation-server

# MacOS
.DS_Store

# Binaries
*.exe
*.msi
*.pkg
*.deb
