# Temporary directories
buildmsi/
wixtoolset/
buildpkg/
builddeb/
tmpdeb/
macos/resources/

# Temporary files
*.zip
*.tar.xz
*.app
*.log
*.wixpdb
massastation-app
massastation-server
install_homebrew.sh

# MacOS
.DS_Store

# Binaries
*.exe
*.msi
*.pkg
*.deb
